# helm template ./helm -f helm/values.yaml > helm/rendered/core.yaml
namespaceOverride:
fullnameOverride: visualization

replicas: 2

image:
  repository: poziomk3/visualization
  tag: v0.1.0
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 3000

env:

secret:
  name:
  
secretEnv:
envFrom:

probes:
  readiness:
    path: /api/health
    initialDelaySeconds: 10
    periodSeconds: 5
  liveness:
    path: /api/health
    initialDelaySeconds: 30
    periodSeconds: 10

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi
