name: Dockerize

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  dockerize:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        if: github.ref == 'refs/heads/master'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.P3_DH_USERNAME }}
          password: ${{ secrets.P3_DH_PASSWORD }}

      - name: Build Docker image
        run: docker build -t keycloak-iam .

      - name: Push Docker image
        if: github.ref == 'refs/heads/master'
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.P3_DH_USERNAME }}/$(echo ${{ github.repository }} | cut -d'/' -f2):latest
            ${{ secrets.P3_DH_USERNAME }}/$(echo ${{ github.repository }} | cut -d'/' -f2):${{ github.sha::7 }}
