name: Release (tagged)
on:
  push:
    tags:
      - '*' 
jobs:
  release-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      SERVICE_NAME: auth-webclient
    steps:
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.P3_DH_USERNAME }}
          password: ${{ secrets.P3_DH_PASSWORD }}
      - name: Build & push Docker (tag)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ${{ secrets.P3_DH_USERNAME }}/${{ env.SERVICE_NAME }}:${{ github.ref_name }}
